<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Task 2</title>
</head>

<body>
  <h1>Get favicons from any domain</h1>
  <!-- <label>Enter URl here</label> -->
  <br>
  <br>
  <input type="text" placeholder="Enter URL here..." [(ngModel)]=searchUrl/>
  <button (click)="search(searchUrl)">Search</button>
  <br>
  <br>
  <br>
  <img height="70" width="70" [src]='displayUrl' />
  <!-- <img height="70" width="70" [src]='displayUrl2' /> -->
  <!-- <img height="70" width="70" [src]='url' /> -->
</body>

</html>

<!-- ##### Other ways ######
  
  <img height="70" width="70" src='http://www.google.com/s2/favicons?domain=www.codedamn.com' />
  <br>
  <img height="70" width="70" src='https://api.statvoo.com/favicon/?url=stackoverflow.com' />
  <br>
  <img height="70" width="70" src='https://icons.duckduckgo.com/ip3/www.codedamn.com.ico' />
  <br>
  <a href='http://www.youtube.com/favicon.ico'>Favicon</a>
  <br>
  <img height="70" width="70" src='http://www.google.com/favicon.ico' />
  <br>
  <img height="70" width="70" src='http://f1.allesedv.com/16/stackoverflow.com' />
  <br>
  <img height="70" width="70" src='http://f1.allesedv.com/16/stackoverflow.com' /> -->